
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>
  <form method="POST" action="/pythonlogin/companyInfo">
    Input the company name: 
      <input type = "text" name = "name">
      <input type = "submit" value = "Search">
  </form>

  <form method="POST" action="/pythonlogin/jobInfo">
    Input the job title: 
      <input type = "text" name = "name">
      <input type = "submit" value = "Search">
  </form>

  <p> <a href="another">Register Another Account</a> </p>


{% endblock %}




